html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='img/apple-icon.png')
    link(rel='icon', type='image/png', href='img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Get Shit Done Kit Components by Creative Tim
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/gsdk.css', rel='stylesheet')
    link(href='css/demo.css', rel='stylesheet')
    script(src='js/jquery-1.10.2.js', type='text/javascript')
    script(src='js/jquery-ui-1.10.4.custom.min.js', type='text/javascript')
    script(src='js/bootstrap.js', type='text/javascript')
    script(src='js/gsdk-checkbox.js')
    script(src='js/gsdk-radio.js')
    script(src='js/gsdk-bootstrapswitch.js')
    script(src='js/get-shit-done.js')
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    // Font Awesome
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Grand+Hotel', rel='stylesheet', type='text/css')
  style.
    pre.prettyprint{
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    }
    .atv, .str{
    color: #05AE0E;
    }
    .tag, .pln, .kwd{
    color: #3472F7;
    }
    .atn{
    color: #2C93FF;
    }
    .pln{
    color: #333;
    }
    .com{
    color: #999;
    }
    .space-top{
    margin-top: 50px;
    }
    .btn-primary .caret{
    border-top-color: #3472F7;
    color: #3472F7;
    }
  body
    #navbar-full
      .container
        nav.navbar.navbar-ct-blue.navbar-transparent.navbar-fixed-top(role='navigation')
          .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/') Back to Kit
                li
                  a.btn.btn-round.btn-default(href='http://www.creative-tim.com/product/get-shit-done-kit') Download
            // /.navbar-collapse
          // /.container-fluid
      // end container
      .blurred-container
        .motto
          div Get
          .border.no-right-border Sh
          .border it
          div Done
        .img-src(style="background-image: url('img/blurred-black-cover.jpeg')")
        .img-src.img-blurred(style="background-image: url('img/blurred-black-cover.jpeg')")
    .main
      .container.tim-container(style='min-height: 2000px;')
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3 Buttons 
          .col-md-7
            p
              | We worked over the original Bootstrap classes, choosing a different, slightly intenser color pallete:
            p
              button.btn.btn-default Default
              button.btn.btn-primary Primary
              button.btn.btn-info Info
              button.btn.btn-success Success
              button.btn.btn-warning Warning
              button.btn.btn-danger Danger
              button.btn.btn-link Link
            pre.prettyprint.
              button.btn.btn-default Default
              button.btn.btn-primary Primary
              button.btn.btn-info Info
              button.btn.btn-success Success
              button.btn.btn-warning Warning
              button.btn.btn-danger Danger
              button.btn.btn-link Link
            p.space-top
              | Buttons come in all needed sizes:
            p
              button.btn.btn-primary.btn-lg Large
              button.btn.btn-primary Normal
              button.btn.btn-primary.btn-sm Small
              button.btn.btn-primary.btn-xs Extra Small
            pre.prettyprint.
              \n<button class="btn btn-primary btn-lg">Large</button>
              <button class="btn btn-primary">Normal</button>
              <button class="btn btn-primary btn-sm">Small</button>
              <button class="btn btn-primary btn-xs">Extra Small</button>
            p.space-top
              | We added extra classes that can help you better customise the look. You can use regular buttons, filled buttons, rounded corners buttons or plain link buttons. Let's see some examples:
            p
              button.btn.btn-primary Default
              button.btn.btn-primary.btn-fill Filled
              button.btn.btn-primary.btn-round Round
              button.btn.btn-primary.btn-simple Simple
            pre.prettyprint.
              button.btn.btn-primary Default
              button.btn.btn-primary.btn-fill Filled
              button.btn.btn-primary.btn-round Round
              button.btn.btn-primary.btn-simple Simple
            p.space-top
              | Button groups, toolbars, and disabled state all work like they are supposed to.
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Checkboxes 
          .col-md-7
            p
              | To use the custom checkboxes, you need to import a separate Javascript file called 'checkbox.js'.
            p
              label.checkbox(for='checkbox1')
                input#checkbox1(type='checkbox', value='', data-toggle='checkbox')
                |                     Unchecked
              label.checkbox(for='checkbox2')
                input#checkbox2(type='checkbox', value='', data-toggle='checkbox', checked='')
                |                     Checked
              label.checkbox(for='checkbox3')
                input#checkbox3(type='checkbox', value='', data-toggle='checkbox', disabled='')
                |                     Disabled unchecked
              label.checkbox(for='checkbox4')
                input#checkbox4(type='checkbox', value='', data-toggle='checkbox', disabled='', checked='')
                |                     Disabled checked
            p Usage can be done via Data Attributes: 
            pre.prettyprint.
              label.checkbox(for='checkbox1')
                input#checkbox1(type='checkbox', value='', data-toggle='checkbox')
                |                   Unchecked
              label.checkbox(for='checkbox2')
                input#checkbox2(type='checkbox', value='', data-toggle='checkbox', checked='')
                |                   Checked
              label.checkbox(for='checkbox3')
                input#checkbox3(type='checkbox', value='', data-toggle='checkbox', disabled='')
                |                   Disabled unchecked
              label.checkbox(for='checkbox4')
                input#checkbox4(type='checkbox', value='', data-toggle='checkbox', disabled='', checked='')
                |                   Disabled checked
            p Or can be called vis js:
            pre.prettyprint.
              \n$(':checkbox').checkbox();
            p
              | We added more classes to provide you with choices
            label.checkbox.ct-blue(for='checkbox1')
              input#checkbox1(type='checkbox', value='', data-toggle='checkbox', checked='')
              |                         Blue
            label.checkbox.ct-azzure(for='checkbox2')
              input#checkbox2(type='checkbox', value='', data-toggle='checkbox', checked='')
              |                         Azzure
            label.checkbox.ct-green(for='checkbox3')
              input#checkbox3(type='checkbox', value='', data-toggle='checkbox', checked='')
              |                         Green
            label.checkbox.ct-orange(for='checkbox4')
              input#checkbox4(type='checkbox', value='', data-toggle='checkbox', checked='')
              |                         Orange
            label.checkbox.ct-red(for='checkbox5')
              input#checkbox5(type='checkbox', value='', data-toggle='checkbox', checked='')
              |                         Red
            pre.prettyprint.
              label.checkbox.ct-blue(for='checkbox1')
                input#checkbox1(type='checkbox', value='', data-toggle='checkbox', checked='')
                |                   Blue
              label.checkbox.ct-azzure(for='checkbox2')
                input#checkbox2(type='checkbox', value='', data-toggle='checkbox', checked='')
                |                   Azzure
              label.checkbox.ct-green(for='checkbox3')
                input#checkbox3(type='checkbox', value='', data-toggle='checkbox', checked='')
                |                   Green
              label.checkbox.ct-orange(for='checkbox4')
                input#checkbox4(type='checkbox', value='', data-toggle='checkbox', checked='')
                |                   Orange
              label.checkbox.ct-red(for='checkbox5')
                input#checkbox5(type='checkbox', value='', data-toggle='checkbox', checked='')
                |          
            p
            h4 Methods
            ul.list-unstyled
              li
                b .checkbox('toggle')
                |                         is used to toggle the states between checked and unchecked.
              li
                b .checkbox('check') 
                |                         sets the checkbox state to checked.
              li
                b .checkbox('uncheck') 
                |                         sets the state to unchecked.
            pre.prettyprint.
              \n$(':checkbox').checkbox('check');
            h4 Events
            ul.list-unstyled
              li
                b .on('toggle') 
                |                         gets activated when the checkbox state changes between checked and unchecked.
              li
                b .on('change') 
                |                         the same as toggle.
            p
            pre.prettyprint.
              \n$(':checkbox').on('toggle', function() {
                // Do something
              });
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Radio buttons 
          .col-md-7
            p
              | To use the custom radio buttons, you need to import a separate Javascript file called 'radio.js'.
            p
              label.radio
                input#optionsRadios1(type='radio', name='optionsRadios', data-toggle='radio', value='option1')
                i
                | Radio is off
              label.radio
                input#optionsRadios2(type='radio', name='optionsRadios', data-toggle='radio', value='option1', checked='')
                i
                | Radio is on
              label.radio
                input#optionsRadios3(type='radio', name='optionsRadiosDisabled', data-toggle='radio', value='option2', disabled='')
                i
                | Disabled radio is off
              label.radio
                input#optionsRadios4(type='radio', name='optionsRadiosDisabled', data-toggle='radio', value='option2', checked='', disabled='')
                i
                | Disabled radio is on
            p Usage can be done via Data Attributes: 
            pre.prettyprint.
             label.radio
              input#optionsRadios1(type='radio', name='optionsRadios', data-toggle='radio', value='option1')
              i
              | Radio is off
            label.radio
              input#optionsRadios2(type='radio', name='optionsRadios', data-toggle='radio', value='option1', checked='')
              i
              | Radio is on
            label.radio
              input#optionsRadios3(type='radio', name='optionsRadiosDisabled', data-toggle='radio', value='option2', disabled='')
              i
              | Disabled radio is off
            label.radio
              input#optionsRadios4(type='radio', name='optionsRadiosDisabled', data-toggle='radio', value='option2', checked='', disabled='')
              i
              | Disabled radio is on
            p Or can be called vis js:
            pre.prettyprint.
              \n$(':radio').radio();
            p
              | You can choose between different colors:
            label.radio.ct-blue
              input#optionsRadios1(type='radio', name='optionsRadios1', data-toggle='radio', value='option1', checked='')
              i
              | Blue
            label.radio.ct-azzure
              input#optionsRadios2(type='radio', name='optionsRadios2', data-toggle='radio', value='option1', checked='')
              i
              | Azzure
            label.radio.ct-green
              input#optionsRadios3(type='radio', name='optionsRadios3', data-toggle='radio', value='option1', checked='')
              i
              | Green
            label.radio.ct-orange
              input#optionsRadios4(type='radio', name='optionsRadios4', data-toggle='radio', value='option1', checked='')
              i
              | Orange
            label.radio.ct-red
              input#optionsRadios5(type='radio', name='optionsRadios5', data-toggle='radio', value='option1', checked='')
              i
              | Red
            pre.prettyprint.
              label.radio.ct-blue
                input#optionsRadios1(type='radio', name='optionsRadios1', data-toggle='radio', value='option1', checked='')
                i
                | Blue
              label.radio.ct-azzure
                input#optionsRadios2(type='radio', name='optionsRadios2', data-toggle='radio', value='option1', checked='')
                i
                | Azzure
              label.radio.ct-green
                input#optionsRadios3(type='radio', name='optionsRadios3', data-toggle='radio', value='option1', checked='')
                i
                | Green
              label.radio.ct-orange
                input#optionsRadios4(type='radio', name='optionsRadios4', data-toggle='radio', value='option1', checked='')
                i
                | Orange
              label.radio.ct-red
                input#optionsRadios5(type='radio', name='optionsRadios5', data-toggle='radio', value='option1', checked='')
                i
                | Red

            p
            h4 Methods
            ul.list-unstyled
              li
                b .radio('check') 
                |                         sets the checkbox state to checked.
              li
                b .radio('uncheck') 
                |                         sets the state to unchecked.
            pre.prettyprint.
              \n$(':radio').radio('check');
            h4 Events
            ul.list-unstyled
              li
                b .on('toggle') 
                |                         gets activated when the checkbox state changes between checked and unchecked.
              li
                b .on('change') 
                |                         the behaviour as the toggle, with the difference that the event is fired for each radio button that gets a state change.
            p
            pre.prettyprint.
              \n$(':radio').on('toggle', function() {
                // Do something
              });
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Switches
          .col-md-7
            p
              | If you want to use something more special than a checkbox, we recomment the switch. You can use it with both text and with icons. For extra customisation we added color classes.
              br
              |         For the original documentation, please go here: 
              a(href='www.larentis.eu/switch') Larentis Switch
              | .
            input.ct-green(type='checkbox', checked='', data-toggle='switch')
            input(type='checkbox', data-toggle='switch')
            .switch(data-on-label="<i class='fa fa-check'></i>", data-off-label="<i class='fa fa-times'></i>")
              input(type='checkbox', checked='')
            .switch(data-on-label="<i class='fa fa-check'></i>", data-off-label="<i class='fa fa-times'></i>")
              input(type='checkbox')
            input.ct-blue(type='checkbox', checked='', data-toggle='switch')
            input.ct-orange(type='checkbox', checked='', data-toggle='switch')
            input.ct-red(type='checkbox', checked='', data-toggle='switch')
            pre.prettyprint.
              input.ct-green(type='checkbox', checked='', data-toggle='switch')
              input(type='checkbox', data-toggle='switch')
              .switch(data-on-label="<i class='fa fa-check'></i>", data-off-label="<i class='fa fa-times'></i>")
                input(type='checkbox', checked='')
              .switch(data-on-label="<i class='fa fa-check'></i>", data-off-label="<i class='fa fa-times'></i>")
                input(type='checkbox')
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Dropdown 
          .col-md-7
            p
              | We are very proud to present the dropdown, we added a subtle animation for this classic widget.
            .dropdown
              button#dropdownMenu1.btn.dropdown-toggle.btn-primary(type='button', data-toggle='dropdown')
                | Dropdown
                b.caret
              ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='#gsdk') Action
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='#gsdk') Another action
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='#gsdk') Something else here
                li.divider(role='presentation')
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='#gsdk') Separated link
            pre.prettyprint.
              .dropdown
              button#dropdownMenu1.btn.dropdown-toggle(type='button', data-toggle='dropdown')
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='#') Action
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='#') Another action
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='#') Something else here
                li.divider(role='presentation')
                li(role='presentation')
                  a(role='menuitem', tabindex='-1', href='#') Separated link
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3 Inputs 
          .col-md-7
            p
              | We restyled the Bootstrap input to give it a more flat, minimal look. You can use the classic look, different colors and states or input groups.
            .row
              .col-md-6
                .form-group
                  input.form-control(type='text', value='', placeholder='Input')
              .col-md-6
                .form-group.has-success
                  input.form-control(type='text', value='Success')
            .row
              .col-md-6
                .form-group.has-error.has-feedback
                  input.form-control(type='text', value='Error')
                  span.glyphicon.glyphicon-remove.form-control-feedback
              .col-md-6
                .input-group
                  input.form-control(type='text', value='Group Addon')
                  span.input-group-addon
                    i.fa.fa-group
            pre.prettyprint.
              .form-group
                input.form-control(type='text', value='', placeholder='Input')
              .form-group.has-success
                input.form-control(type='text', value='Success')
              |              \t
              .form-group.has-error.has-feedback
                input.form-control(type='text', value='Error')
                span.glyphicon.glyphicon-remove.form-control-feedback
              .input-group
                input.form-control(type='text', value='Group Addon')
                span.input-group-addon
                  i.fa.fa-group
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3 Navbar 
          .col-md-7
            p
              | We restyled the classic Bootstrap navbar:
            #navbar
              nav.navbar.navbar-default(role='navigation')
                .container-fluid
                  .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    a.navbar-brand(href='#gsdk') Brand
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='#gsdk') Work in progress...
                      li.active
                        a(href='#gsdk') Link
                      li
                        a(href='#gsdk') Link
                      li.dropdown
                        a.dropdown-toggle(href='#gsdk', data-toggle='dropdown')
                          | Dropdown 
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='#gsdk') Action
                          li
                            a(href='#gsdk') Another action
                          li
                            a(href='#gsdk') Something else here
                          li.divider
                          li
                            a(href='#gsdk') Separated link
                          li.divider
                          li
                            a(href='#gsdk') One more separated link
                  // /.navbar-collapse
                // /.container-fluid
            // end navbar
            pre.prettyprint.
              #navbar
                nav.navbar.navbar-default(role='navigation')
                  .container-fluid
                    .navbar-header
                      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                      a.navbar-brand(href='#') Brand
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                      ul.nav.navbar-nav
                        li
                          a(href='#') Work in progress...
                        li.active
                          a(href='#') Link
                        li
                          a(href='#') Link
                        li.dropdown
                          a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Dropdown 
                            b.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Action
                            li
                              a(href='#') Another action
                            li
                              a(href='#') Something else here
                            li.divider
                            li
                              a(href='#') Separated link
                            li.divider
                            li
                              a(href='#') One more separated link
            p.space-top
              | Besides the default navbar, we added 5 new colors: blue, azzure, green, orange, red. If you want to use one of them, you have to replace the 'navbar-default' with the class for the chosen color 'navbr-ct-#color'.
            // navbar blue
            #navbar-blue
              nav.navbar.navbar-ct-blue(role='navigation')
                .container-fluid
                  // Brand and toggle get grouped for better mobile display
                  .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    a.navbar-brand(href='#gsdk') Brand
                  // Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='#gsdk') Work in progress...
                      li.active
                        a(href='#gsdk') Link
                      li
                        a(href='#gsdk') Link
                      li.dropdown
                        a.dropdown-toggle(href='#gsdk', data-toggle='dropdown')
                          | Dropdown 
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='#gsdk') Action
                          li
                            a(href='#gsdk') Another action
                          li
                            a(href='#gsdk') Something else here
                          li.divider
                          li
                            a(href='#gsdk') Separated link
                          li.divider
                          li
                            a(href='#gsdk') One more separated link
                  // /.navbar-collapse
                // /.container-fluid
            // end navbar
            // navbar azzure
            #navbar-azzure
              nav.navbar.navbar-ct-azzure(role='navigation')
                .container-fluid
                  // Brand and toggle get grouped for better mobile display
                  .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    a.navbar-brand(href='#gsdk') Brand
                  // Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='#gsdk') Work in progress...
                      li.active
                        a(href='#gsdk') Link
                      li
                        a(href='#gsdk') Link
                      li.dropdown
                        a.dropdown-toggle(href='#gsdk', data-toggle='dropdown')
                          | Dropdown 
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='#gsdk') Action
                          li
                            a(href='#gsdk') Another action
                          li
                            a(href='#gsdk') Something else here
                          li.divider
                          li
                            a(href='#gsdk') Separated link
                          li.divider
                          li
                            a(href='#gsdk') One more separated link
                  // /.navbar-collapse
                // /.container-fluid
            // end navbar
            // navbar green
            #navbar-green
              nav.navbar.navbar-ct-green(role='navigation')
                .container-fluid
                  // Brand and toggle get grouped for better mobile display
                  .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    a.navbar-brand(href='#gsdk') Brand
                  // Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='#gsdk') Work in progress...
                      li.active
                        a(href='#gsdk') Link
                      li
                        a(href='#gsdk') Link
                      li.dropdown
                        a.dropdown-toggle(href='#gsdk', data-toggle='dropdown')
                          | Dropdown 
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='#gsdk') Action
                          li
                            a(href='#gsdk') Another action
                          li
                            a(href='#gsdk') Something else here
                          li.divider
                          li
                            a(href='#gsdk') Separated link
                          li.divider
                          li
                            a(href='#gsdk') One more separated link
                  // /.navbar-collapse
                // /.container-fluid
            // end navbar
            // navbar orange
            #navbar-orange
              nav.navbar.navbar-ct-orange(role='navigation')
                .container-fluid
                  // Brand and toggle get grouped for better mobile display
                  .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    a.navbar-brand(href='#gsdk') Brand
                  // Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='#gsdk') Work in progress...
                      li.active
                        a(href='#gsdk') Link
                      li
                        a(href='#gsdk') Link
                      li.dropdown
                        a.dropdown-toggle(href='#gsdk', data-toggle='dropdown')
                          | Dropdown 
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='#gsdk') Action
                          li
                            a(href='#gsdk') Another action
                          li
                            a(href='#gsdk') Something else here
                          li.divider
                          li
                            a(href='#gsdk') Separated link
                          li.divider
                          li
                            a(href='#gsdk') One more separated link
                  // /.navbar-collapse
                // /.container-fluid
            // end navbar
            // navbar red
            #navbar-red
              nav.navbar.navbar-ct-red(role='navigation')
                .container-fluid
                  // Brand and toggle get grouped for better mobile display
                  .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                    a.navbar-brand(href='#gsdk') Brand
                  // Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='#gsdk') Work in progress...
                      li.active
                        a(href='#gsdk') Link
                      li
                        a(href='#gsdk') Link
                      li.dropdown
                        a.dropdown-toggle(href='#gsdk', data-toggle='dropdown')
                          | Dropdown 
                          b.caret
                        ul.dropdown-menu
                          li
                            a(href='#gsdk') Action
                          li
                            a(href='#gsdk') Another action
                          li
                            a(href='#gsdk') Something else here
                          li.divider
                          li
                            a(href='#gsdk') Separated link
                          li.divider
                          li
                            a(href='#gsdk') One more separated link
                  // /.navbar-collapse
                // /.container-fluid
            // end navbar
            p.space-top
              | Besides all this customisation, we have an extra navbar. 'Navbar-transparent' is a special class that you can to use if you want the navbar to be transparent and then turn to color after scrolling for a certain number of pixels. We recommend that the part of your page that has the transparent navbar contains something non-cluttered, like an image. If you want to see a nice example in details, check 
              a(href='navbar-transparent.html') this page
              |  out.
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Nav Pills
          .col-md-7
            p
              | We changed the design for the Bootstrap nav pills into something a bit more fresh. We also added more color classes for customisation.
            ul.nav.nav-pills.ct-blue
              li.active
                a(href='#gsdk') Home
              li
                a(href='#gsdk')  Profile
              li
                a(href='#gsdk') Messages
            br
            ul.nav.nav-pills.ct-azzure
              li.active
                a(href='#gsdk') Home
              li
                a(href='#gsdk')  Profile
              li
                a(href='#gsdk') Messages
            br
            ul.nav.nav-pills.ct-green
              li.active
                a(href='#gsdk') Home
              li
                a(href='#gsdk')  Profile
              li
                a(href='#gsdk') Messages
            br
            ul.nav.nav-pills.ct-orange
              li.active
                a(href='#gsdk') Home
              li
                a(href='#gsdk')  Profile
              li
                a(href='#gsdk') Messages
            br
            ul.nav.nav-pills.ct-red
              li.active
                a(href='#gsdk') Home
              li
                a(href='#gsdk')  Profile
              li
                a(href='#gsdk') Messages
            pre.prettyprint.
              ul.nav.nav-pills.ct-blue
                //
                  color-classes: "ct-blue", "ct-azure", "ct-orange", "ct-red", "ct-green"
                  special-classes: "no-border"
                li.active
                  a(href='#') Home
                li
                  a(href='#')  Profile
                li
                  a(href='#') Messages
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Pagination
          .col-md-7
            p
              | We took the Bootstrap pagination elements and customised them to fit the overall theme. We also added a special class called 'no-border', which dies what its name says and improves the overall clean look.
            ul.pagination.ct-blue.no-border
              //
                color-classes: "ct-blue", "ct-azure", "ct-orange", "ct-red", "ct-green"
                special-classes: "no-border"
              li
                a(href='#gsdk') «
              li.active
                a(href='#gsdk') 1
              li
                a(href='#gsdk') 2
              li
                a(href='#gsdk') 3
              li
                a(href='#gsdk') 4
              li
                a(href='#gsdk') 5
              li
                a(href='#gsdk') »
            ul.pagination.ct-blue
              li
                a(href='#gsdk') «
              li
                a(href='#gsdk') 1
              li.active
                a(href='#gsdk') 2
              li
                a(href='#gsdk') 3
              li
                a(href='#gsdk') 4
              li
                a(href='#gsdk') 5
              li
                a(href='#gsdk') »
            p.space-top
              | Besides the classic look, we also added the color classes to offer more customisation.
            ul.pagination.ct-azzure
              li
                a(href='#gsdk') «
              li
                a(href='#gsdk') 1
              li
                a(href='#gsdk') 2
              li.active
                a(href='#gsdk') 3
              li
                a(href='#gsdk') 4
              li
                a(href='#gsdk') 5
              li
                a(href='#gsdk') »
            ul.pagination.ct-green
              li
                a(href='#gsdk') «
              li
                a(href='#gsdk') 1
              li
                a(href='#gsdk') 2
              li
                a(href='#gsdk') 3
              li.active
                a(href='#gsdk') 4
              li
                a(href='#gsdk') 5
              li
                a(href='#gsdk') »
            ul.pagination.ct-orange
              li
                a(href='#gsdk') «
              li
                a(href='#gsdk') 1
              li
                a(href='#gsdk') 2
              li
                a(href='#gsdk') 3
              li
                a(href='#gsdk') 4
              li.active
                a(href='#gsdk') 5
              li
                a(href='#gsdk') »
            ul.pagination.ct-red
              li
                a(href='#gsdk') «
              li
                a(href='#gsdk') 1
              li
                a(href='#gsdk') 2
              li
                a(href='#gsdk') 3
              li
                a(href='#gsdk') 4
              li.active
                a(href='#gsdk') 5
              li
                a(href='#gsdk') »
            pre.prettyprint.
              ul.pagination.ct-blue
                li
                  a(href='#') «
                li
                  a(href='#') 1
                li
                  a(href='#') 2
                li.active
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#') »
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Progress Bars
          .col-md-7
            p
              | The progress bars from Bootstrap hold the same classes and functionality. Adding this kit over your existing project will only make it look more clean and minimal.
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 30%;')
                span.sr-only 60% Complete
            .progress
              .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                span.sr-only 60% Complete
            .progress
              .progress-bar.progress-bar-success(style='width: 35%')
                span.sr-only 35% Complete (success)
              .progress-bar.progress-bar-warning(style='width: 20%')
                span.sr-only 20% Complete (warning)
              .progress-bar.progress-bar-danger(style='width: 10%')
                span.sr-only 10% Complete (danger)
            pre.prettyprint.
              .progress
                .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 30%;')
                  span.sr-only 60% Complete
              .progress
                .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete
              .progress
                .progress-bar.progress-bar-success(style='width: 35%')
                  span.sr-only 35% Complete (success)
                .progress-bar.progress-bar-warning(style='width: 20%')
                  span.sr-only 20% Complete (warning)
                .progress-bar.progress-bar-danger(style='width: 10%')
                  span.sr-only 10% Complete (danger)

        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Sliders
          .col-md-7
            p We restyled jQuery UI slider, while keeping the design consistent.
            #slider-default.slider-info
            br
            #slider-range.slider-success
            p.space-top Markup:
            pre.prettyprint.
              \n<div id="slider-default" class="slider-info"></div>
              <div id="slider-range" class="slider-success"></div>
            p.space-top Js:
            pre.prettyprint.
              \n$( "#slider-range" ).slider({
              \trange: true,
              \tmin: 0,
              \tmax: 500,
              \tvalues: [ 75, 300 ],
              });
              $( "#slider-default" ).slider({
              \t\t
              \t\tvalue: 70,
              \t\torientation: "horizontal",
              \t\trange: "min",
              \t\tanimate: true
              });
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Tooltips
          .col-md-7
            p(style='margin-bottom: 45px;')
              | We restyled the Bootstrap tooltip.
            button.btn.btn-default.btn-tooltip(type='button', data-toggle='tooltip', data-placement='top', title='Tooltip on top', data-trigger='manual') Button with Tooltip
            p.space-top Markup:
            pre.prettyprint.
              \n<button type="button" class="btn btn-default btn-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-trigger="manual">Button with Tooltip</button>
            p.space-top Js:
            pre.prettyprint.
              \n$('.btn-tooltip').tooltip();
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Collapsable groups 
          .col-md-7
            p
              | The Get Shit Done Kit has new classes for collapsable groups which offer a nice sneak peak into the content of the body of the group. 
              br
              |             If you want to stick with the old classes, they remain compatible. If you want to see the new ones, you will have to add data-toggle="gsdk-collapse" instead of collapse.
            p
              | Here is an example of both the groups. The first two are done using the preview on hover and the third one is classical.
            #acordeon
              #accordion.panel-group
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-target='#collapseOne', href='#collapseOne', data-toggle='gsdk-collapse')
                        | Collapsible Group Item #1
                  #collapseOne.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-target='#collapseTwo', href='#collapseTwo', data-toggle='gsdk-collapse')
                        | Collapsible Group Item #2
                  #collapseTwo.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                .panel.panel-default
                  .panel-heading
                    h4.panel-title
                      a(data-toggle='collapse', href='#collapseThree')
                        | Collapsible Group Item #3
                  #collapseThree.panel-collapse.collapse
                    .panel-body
                      | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            // end acordeon
            pre.prettyprint.
             #acordeon
                #accordion.panel-group
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-target='#collapseOne', href='#collapseOne', data-toggle='gsdk-collapse')
                          | Collapsible Group Item #1
                    #collapseOne.panel-collapse.collapse
                      .panel-body
                        | Anim pariatur cliche reprehenderit, ewolf moe, raw denim af them accusamus labore sustainable VHS.
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-target='#collapseTwo', href='#collapseTwo', data-toggle='gsdk-collapse')
                          | Collapsible Group Item #2
                    #collapseTwo.panel-collapse.collapse
                      .panel-body
                        | Anim pariatur cliche repreheth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse', href='#collapseThree')
                          | Collapsible Group Item #3
                    #collapseThree.panel-collapse.collapse
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiaute, n eiusmod. Brunch 3 wolf moon
        // end row
        .row.tim-row
          .col-md-3.col-md-offset-1
            h3  Notifications 
          .col-md-7
            | The new Get Shit Done notification are looking more fresh and clean. They go great with the navbar. If you want to see how we recommen using them, see this:
            br
            br
            a.btn.btn-info.btn-fill.btn-sm(href='notification.html') Live Preview
        // end row
      // end container
    .footer
      .overlayer
        .container
          .row
            .credits
              | © 2016 Get Shit Done Kit, made with 
              i.fa.fa-heart.heart(alt='love')
              |  for a better web.
  script.
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 75, 300 ],
    });
    $( "#slider-default" ).slider({
    value: 70,
    orientation: "horizontal",
    range: "min",
    animate: true
    });
    $('.btn-tooltip').tooltip('show');
    $('.radio').on('toggle', function() {
    console.log('ok');
    });
    /*
    $(document).ready(function(){
    $('.btn-tooltip').tooltip('show');
    });
    */

