html(lang='en')
  head
    meta(charset='utf-8')
    title Dreamcozy Store
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/css/material.min.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en", rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel='stylesheet')
    link(href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css", rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/img/android-desktop.png')
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Grand+Hotel', rel='stylesheet', type='text/css')
    link(href='https://www.w3schools.com/w3css/4/w3.css',rel='stylesheet', type='text/css')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/slider.css', rel='stylesheet')
    link(href='/css/priority-nav-core.css', rel='stylesheet')
  script.
    function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    }
    function w3_openCart() {
    document.getElementById("mySidebarCart").style.display = "block";
    }
    function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    }
    function w3_closeCart() {
    document.getElementById("mySidebarCart").style.display = "none";
    }
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
    function fadeload(){
      var el = document.querySelector('.js-fade');
      if (el.classList.contains('is-paused')){
        el.classList.remove('is-paused');}
    }
  body.js-fade.fade-in.is-paused(onload="fadeload()")
    .col-xs-12
      nav.priority-nav 
        ul
          li
            a(href="/home") Home
          li
            div.dropdown
              a(href="/iframe/books/",target="frame") Books
              div.dropdown-content
                a(href="/iframe/books-in-english/",target="frame") books in english
                a(href="/iframe/books/food/",target="frame") food
                a(href="/iframe/books/fashion/",target="frame") fashion & beauty
                a(href="/iframe/books/self-help/",target="frame") self-help
                a(href="/iframe/books/interior-garden/",target="frame") interior & garden
                a(href="/iframe/books/other-lifestyle-books/",target="frame") other lifestyle books
                a(href="/iframe/books/coloring/",target="frame") coloring
                a(href="/iframe/books/travelling/",target="frame") travelling
          li
            a(href="/iframe/news") News
          li
            a(href="#") Store
          li
            a(href="/iframe/cozy-branding/") About Cozy
          li
            a(href="/iframe/cozy-team/") Cozy Team
          li
            a(href="/iframe/contact/") Contact
          li
            a(href="/iframe/kuvapankki/") Media
    btn.btn.btn-primary.w3-indigo#ExpandBtn(onclick="w3_open()")
        img.ExpandLogo(src="/img/dreambutton.png")
    br
    br
    btn.btn.btn-primary.w3-indigo#ExpandBtnCart(onclick="w3_openCart()")
    div#mySidebar.w3-sidebar.w3-animate-left-fast.w3-bar-block.w3-black.w3-card-2
      btn.btn.btn-primary.w3-indigo#HideBtn(onclick="w3_close()") 
        img.ExpandLogo(src="/img/dreambutton.png")
      if loggedin
        div#UserPanelBackground
          div#logoutpanel
            .row
              .col-xs-12
                h4#YesLogged Logged in
                form#logout(name="addproduct",method="post",action="/logout")
                  input#LogoutSubmitl.btn.btn-danger(type="submit",value="Logout")
          .row
            .col-xs-12
                h4 Developer Theme
                label.switch
                  input(type="checkbox")
                  span.slider.shadow
          #TopPad
            .row
              .col-xs-12
                h2 Add Product
                form#formAddUser(name="addproduct",method="post",enctype="multipart/form-data",action="/addproduct")
                    .mdl-cell--12-col
                      input#inputProductName.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Name", name="productname")
                    .mdl-cell--12-col
                      input#inputProductDesc.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Description", name="description")
                    .mdl-cell--12-col
                      input#inputPrice.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Price", name="price")
                    .mdl-cell--12-col
                      input#inputAmount.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Amount", name="amount")
                    .mdl-cell--12-col
                      h5 Is a product
                      label.switch
                          input#inputType(type="checkbox", name="producttype", value="false")
                          span.slider.shadow
                    .mdl-cell--12-col.TopPad
                      input#inputImage.btn-primary.inputfile(type="file",value="Image", name="oneimage")
                      label#inputImageLabel.mdl-button.w3-blue(for="inputImage").custom-file-upload Upload Image
                    .mdl-cell--12-col#TopPad
                      input#btnProduct.mdl-button.w3-indigo(type="submit",value="Submit")
      else
        div#UserPanelBackground
          div#signuppanel
            .mdl-grid
              .col-xs-1
              .col-xs-10
              h4#NotLogged Not Logged in
              h4 Sign up
              form#signup(name="signup",method="post",action="/adduser")
                .mdl-grid
                  .mdl-grid.mdl-cell--12-col
                    input#SignupEmail.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Email", name="signupEmail")
                  .mdl-grid.mdl-cell--12-col
                    input#SignupPasswdl.btn.btn-primary.mdl-color-text--white(type="password", placeholder="Password", name="signupPasswd")
                  .mdl-grid.mdl-cell--12-col
                    input#SignupSubmitl.btn.btn-danger(type="submit",value="Signup")
              .col-xs-1
          div#loginpanel.container
            .mdl-grid
              .col-xs-1
              .col-xs-10
              h4 Login
              form#login(name="addproduct",method="post",action="/login")
                .mdl-grid
                  .mdl-grid.mdl-cell--12-col
                    input#LoginEmaill.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Name", name="loginEmail")
                  .mdl-grid.mdl-cell--12-col
                    input#LoginPasswdl.btn.btn-primary.mdl-color-text--white(type="password", placeholder="Password", name="loginPasswd")
                  .mdl-grid.mdl-cell--12-col
                    input#LoginSubmitl.btn.btn-danger(type="submit",value="Login")
              .col-xs-1
    div#mySidebarCart.w3-sidebar.w3-animate-right-fast.w3-bar-block.w3-black.w3-card-2
      .container
        btn.btn.btn-primary.w3-indigo#ExpandBtnCartHide(onclick="w3_closeCart()")
          img.ExpandLogo(src="/img/cart.png")
        div#UserPanelBackground
            #TopPad
              .row.TopPad
                .col-xs-12.TopPad
                  br
                  h2.TopPad Cart Products
                  div#cartcontent
                    table#cart

                .col-xs-1
    btn.btn.btn-primary.mdl-color--grey-800#ExpandBtn(onclick="w3_open()")
      img.ExpandLogo(src="/img/dreambutton.png")
    btn.btn.btn-primary.mdl-color--grey-800#ExpandBtnCart(onclick="w3_openCart()")
      img.ExpandLogo(src="/img/cart.png")
    block content
      .w3-main
        .w3-animate-opacity
              .w3-container(style="width:100%")
                .container#TopPad.w3-animate-bottom
                  #ImageGrid.col-xs-12
                    #photos.col-xs-12
                      .row
                        each product, i in productlist
                          if product.width == 2
                              .col-xs-12
                          
                                    if loggedin
                                      a(href="/product/#{product._id}")
                                        img.gridimg(src="#{product.image}")
                                      form#formDelUser(name="delprod",method="post",action="/delprod")
                                        input#DELid.pull-right(name="delthisprod",type="text",value="#{product._id}")
                                        input#DELid(name="delthisimage",type="text",value="#{product.image}")
                                        input#DeleteImage.mdl-button.mdl-button--accent-blue(type='submit',value="Delete")
                                      a(href="/product/#{product._id}")
                                        button#EditImage.mdl-button.w3-blue Edit
                                    else
                                      
                                        a(href="/product/#{product._id}")
                                          img.gridimg(src="#{product.image}")
                                          p#Gap a
                          else
                                .col-xs-6
                                
                                    if loggedin
                                      a(href="/product/#{product._id}")
                                        img.gridimg(src="#{product.image}")
                                      form#formDelUser.col-xs-12(name="delprod",method="post",action="/delprod")
                                        input#DELid.pull-right(name="delthisprod",type="text",value="#{product._id}")
                                        input#DELid(name="delthisimage",type="text",value="#{product.image}")
                                        input#DeleteImageSmall.mdl-button.mdl-button--accent-blue(type='submit',value="Delete")
                                      a(href="/product/#{product._id}")
                                        button#EditImageSmall.mdl-button.w3-blue Edit
                                    else
                                      
                                        a(href="/product/#{product._id}")
                                          img.gridimg(src="#{product.image}")
                                          p#Gap a

                br
                br
      .container#CustomFooter
        .row.aligncenter
          .mdl-grid#TopPad
            .col-xs-1
            .col-xs-10
              p Copyright 2017 Dreamcozy
            .col-xs-1
    script.
      function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      }
      function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      }

  script(src='js/jquery-1.10.2.js', type='text/javascript')
  script(src='js/jquery-ui-1.10.4.custom.min.js', type='text/javascript')
  script(src='js/bootstrap.js', type='text/javascript')
  script(src='js/gsdk-checkbox.js', type='text/javascript')
  script(src='js/gsdk-radio.js', type='text/javascript')
  script(src='js/gsdk-bootstrapswitch.js', type='text/javascript')
  script(src='js/get-shit-done.js', type='text/javascript')
  script(src='js/custom.js', type='text/javascript')
  script(src='js/bootstrap-slider.min.js', type='text/javascript')
  script(src='https://code.getmdl.io/1.3.0/material.min.js', type='text/javascript')
  script(src='js/priority-nav.min.js', type='text/javascript')
  script(type='text/javascript').
    $('.btn-tooltip').tooltip();
    $('.label-tooltip').tooltip();
    var nav = priorityNav.init();
    $('.pick-class-label').click(function(){
    var new_class = $(this).attr('new-class');
    var old_class = $('#display-buttons').attr('data-class');
    var display_div = $('#display-buttons');
    if(display_div.length) {
    var display_buttons = display_div.find('.btn');
    display_buttons.removeClass(old_class);
    display_buttons.addClass(new_class);
    display_div.attr('data-class', new_class);
    }
    });
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 75, 300 ],
    });
    $( "#slider-default" ).slider({
    value: 70,
    orientation: "horizontal",
    range: "min",
    animate: true
    });
    $('.carousel').carousel({
    interval: 4000
    });
