doctype html
html
  head
    meta(charset='utf-8')
    title Template · Bootstrap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/css/material.min.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en", rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel='stylesheet')
    link(href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css", rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/gsdk.css', rel='stylesheet')
    link(href='css/demo.css', rel='stylesheet')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Grand+Hotel', rel='stylesheet', type='text/css')
    link(href='ttps://www.w3schools.com/w3css/4/w3.css',rel='stylesheet', type='text/css')
    link(href='/css/style.css', rel='stylesheet')
  body.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
    block content
