extends index

block content
  .w3-main
        .w3-animate-opacity
              btn.btn.btn-primary#ExpandBtn(onclick="w3_open()") Tools
              .w3-container(style="width:100%")
                .container
                  .row.header-logo#logodiv
                      a(href="/")
                        img#LogoTop(src="img/dream.png")
                  .mdl-grid
                    .mdl-layout-spacer
                    .mdl-grid
                            ul.nav.nav-pills
                              li
                                a(href="/home") Home
                              li
                                div.dropdown
                                  a(href="http://www.dreamcozy.com/books/",target="frame") Books
                                  div.dropdown-content
                                    a(href="http://www.dreamcozy.com/books-in-english/",target="frame") books in english
                                    a(href="http://www.dreamcozy.com/books/food/",target="frame") food
                                    a(href="http://www.dreamcozy.com/books/fashion/",target="frame") fashion & beauty
                                    a(href="http://www.dreamcozy.com/books/self-help/",target="frame") self-help
                                    a(href="http://www.dreamcozy.com/books/interior-garden/",target="frame") interior & garden
                                    a(href="http://www.dreamcozy.com/books/other-lifestyle-books/",target="frame") other lifestyle books
                                    a(href="http://www.dreamcozy.com/books/coloring/",target="frame") coloring
                                    a(href="http://www.dreamcozy.com/books/travelling/",target="frame") travelling
                              li.active
                                a(href="/news") News
                              li
                                a(href="#") Store
                              li
                                a(href="http://www.dreamcozy.com/cozy-branding/") About Cozy
                              li
                                a(href="http://www.dreamcozy.com/cozy-team/") Cozy Team
                              li
                                a(href="http://www.dreamcozy.com/contact/") Contact
                              li
                                a(href="http://www.dreamcozy.com/kuvapankki/") Media
                    .mdl-layout-spacer
                .container#TopPad
                  .row
                      .mdl-grid#TopPad
                        div#newsContainer
                              iframe#newsFrame(src='http://www.dreamcozy.com/news/',width="100%",height="95%",
                              style="position:absolute; clip:rect(300px,90vw,180vh,10vw);top:-5vh; left:0;",
                              allowtransparency="true")
                .container#CustomSocial
                  .row
                      .col-xs-1
                      .col-xs-10
                        ul.aligncenter.fix-margin
                          li.social-facebook
                            a.btn.btn-social-icon.btn-facebook(href='https://www.facebook.com/cozypubl/')
                              span.fa.fa-facebook
                          li.social-instagram
                            a.btn.btn-social-icon.btn-instagram(href='https://www.instagram.com/dream.cozy/')
                              span.fa.fa-instagram
                      .col-xs-1
                
                
  script(src='js/jquery-1.10.2.js', type='text/javascript')
  script(src='js/jquery-ui-1.10.4.custom.min.js', type='text/javascript')
  script(src='js/bootstrap.js', type='text/javascript')
  script(src='js/gsdk-checkbox.js')
  script(src='js/gsdk-radio.js')
  script(src='js/gsdk-bootstrapswitch.js')
  script(src='js/get-shit-done.js')
  script(src='js/custom.js')
  script(type='text/javascript').
    $('.btn-tooltip').tooltip();
    $('.label-tooltip').tooltip();
    $('.pick-class-label').click(function(){
    var new_class = $(this).attr('new-class');
    var old_class = $('#display-buttons').attr('data-class');
    var display_div = $('#display-buttons');
    if(display_div.length) {
    var display_buttons = display_div.find('.btn');
    display_buttons.removeClass(old_class);
    display_buttons.addClass(new_class);
    display_div.attr('data-class', new_class);
    }
    });
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 75, 300 ],
    });
    $( "#slider-default" ).slider({
    value: 70,
    orientation: "horizontal",
    range: "min",
    animate: true
    });
    $('.carousel').carousel({
    interval: 4000
    });

