extends index

block content
  .w3-main
        .w3-animate-opacity
                .container#TopPad
                  #ProductInfoGrid
                        each product, i in productlist
                            if product._id == selectedid
                              
                                #ProductSubGrid.mdl-grid
                                    div.container
                                            h1.col-xs-12 #{product.productname}
                                        if loggedin
                                                .col-xs-12
                                                    form(name="editname",method="post",action="/edit/productname")
                                                        input#EditProductName.col-xs-12.btn.w3-blue(type="text", placeholder="Change Name", name="editname")
                                                        input#DELid.pull-right(name="editthisname",type="text",value="#{product._id}")
                                                        input#btnProduct.col-xs-12.mdl-button.w3-blue(type="submit",value="Commit")
                                    #LimitImageArea
                                        .col-xs-12
                                            .mdl-grid
                                                .col-xs-12
                                                    img.col-xs-6.gridimg(src="#{product.image}")
                                    if product.isproduct
                                        .col-xs-12
                                            h1.pull-right #{product.price} €
                                            if loggedin
                                                form(name="editpriceform",method="post",action="/edit/price")
                                                    input#EditProductDesc.col-xs-12.btn.w3-green(type="text", placeholder="New Price", name="editprice")
                                                    input#DELid.pull-right(name="editthisprice",type="text",value="#{product._id}")
                                                    input#btnProduct.col-xs-12.mdl-button.w3-green(type="submit",value="Commit")
                                        .col-xs-12
                                            h5.pull-right In Stock: #{product.amount}
                                            if loggedin
                                                form(name="editamountform",method="post",action="/edit/amount")
                                                    input#EditProductDesc.col-xs-12.btn.w3-brown(type="text", placeholder="New Amount", name="editamount")
                                                    input#DELid.pull-right(name="editthisamount",type="text",value="#{product._id}")
                                                    input#btnProduct.col-xs-12.mdl-button.w3-brown(type="submit",value="Commit")
                                    if product.additionalimages
                                        .row
                                            each aimage, i in productlist.additionalimages
                                                img.col-xs-6.gridimg(src="#{aimage}")
                                    if loggedin
                                        .col-xs-12
                                            h4 Size in grid
                                                script.
                                                    $(document).ready(function() {
                                                      $("#slider-range" ).slider({
                                                          change: function(event, ui) {
                                                            $("#sliderform").submit();
                                                            }
                                                    });
                                                    });
                                                form#sliderform(name="editwidth",method="post",action="/changewidth/#{product._id}")
                                                    if checked
                                                        label.switch
                                                            input#slider-range.col-xs-12(type="checkbox", name="checkboxtrue", value="true")
                                                            span.slider.shadow
                                                        input#btnProduct.col-xs-12.mdl-button.w3-purple(type="submit",value="Commit")
                                                    else
                                                        label.switch
                                                            input#slider-range.col-xs-12(type="checkbox", name="checkboxfalse", value="false")
                                                            span.slider.shadow
                                                        input#btnProduct.col-xs-12.mdl-button.w3-purple(type="submit",value="Commit")

                                    if loggedin
                                        .col-xs-12
                                            form(name="addimage",method="post",action="/edit/addimage")
                                                input#inputImage.btn-primary.inputfile(type="file",value="Image", name="oneimage")
                                                label#ImageLabelGeneric.col-xs-12.mdl-button.w3-indigo(for="inputImage").custom-file-upload Add Image
                                                input#DELid.pull-right(name="addtothisprod",type="text",value="#{product._id}")
                                                input#btnProduct.col-xs-12.mdl-button.w3-indigo(type="submit",value="Upload")
                                    .col-xs-12
                                        h4 #{product.description}
                                        if loggedin
                                            form(name="editdescription",method="post",action="/edit/productdesc")
                                                input#EditProductDesc.col-xs-12.btn.w3-purple(type="text", placeholder="Change Description", name="editdesc")
                                                input#DELid.pull-right(name="editthisdesc",type="text",value="#{product._id}")
                                                input#btnProduct.col-xs-12.mdl-button.w3-purple(type="submit",value="Commit")
                                    .col-xs-12
                                        if product.isproduct
                                            h4.w3-green Is a product
                                        else
                                            h4.w3-red Is not a product
                                        if loggedin
                                            h4 Should it be a product?
                                            form(name="edittype",method="post",action="/edit/type")
                                                label.switch
                                                    input#slider-range.col-xs-12(type="checkbox", name="isproductselection", value="true")
                                                    span.slider.shadow
                                                input#DELid.pull-right(name="editthistype",type="text",value="#{product._id}")
                                                input#btnProduct.col-xs-12.mdl-button.w3-teal(type="submit",value="Commit")
                                    
                                    if loggedin
                                        if product.isproduct
                                            .col-xs-12#TopPad
                                                .col-xs-12
                                                    button.col-xs-12.mdl-button.mdl-js-button.mdl-button--raised.mdl-color--red-900.mdl-color-text--white(onclick="addToCart('#{product._id}', '#{product.price}')", style="display:none") Add to Cart
                                                .col-xs-12
                                                    div#ostoskoribadge.TopPad.col-xs-12.mdl-badge.mdl-badge--overlap(data-badge="0")
                                                    button.col-xs-12.mdl-button.mdl-js-button.mdl-button--raised.mdl-color--red-900.mdl-color-text--white(data-toggle="collapse", data-target="#kori", onclick="getCart()") Add to Cart
                                                    div#kori.collapse.mdl-navigation.mdl-color--blue-900.mdl-shadow--2dp(style="display:none")
                                                        table#cart.mdl-color--blue-900(style="width:40vh;")
                                                        table(class="mdl-color--blue-800 mdl-shadow--2dp", style="width:40vh")
                                                        a.col-xs-12(style="color:white") Testi
                                                        tr
                                                            td#pricetag(style="width:0")
                                                            td(style="width:0")
                                                            td(style="width:0")
                                                            td(style="width:0")
                                                            a.col-xs-12(style="color:white") Testi
                                    .col-xs-12
                                        br


    script.
        function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        }
        function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        }

  script(src='js/jquery-1.10.2.js', type='text/javascript')
  script(src='js/jquery-ui-1.10.4.custom.min.js', type='text/javascript')
  script(src='js/bootstrap.js', type='text/javascript')
  script(src='js/gsdk-checkbox.js', type='text/javascript')
  script(src='js/gsdk-radio.js', type='text/javascript')
  script(src='js/gsdk-bootstrapswitch.js', type='text/javascript')
  script(src='js/get-shit-done.js', type='text/javascript')
  script(src='js/custom.js', type='text/javascript')
  script(src='js/bootstrap-slider.min.js', type='text/javascript')
  script(src='https://code.getmdl.io/1.3.0/material.min.js', type='text/javascript')
  script(src='/js/cart.js', type='text/javascript')
  script(type='text/javascript').
    $('.btn-tooltip').tooltip();
    $('.label-tooltip').tooltip();
    $('.pick-class-label').click(function(){
    var new_class = $(this).attr('new-class');
    var old_class = $('#display-buttons').attr('data-class');
    var display_div = $('#display-buttons');
    if(display_div.length) {
    var display_buttons = display_div.find('.btn');
    display_buttons.removeClass(old_class);
    display_buttons.addClass(new_class);
    display_div.attr('data-class', new_class);
    }
    });
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 75, 300 ],
    });
    $( "#slider-default" ).slider({
    value: 70,
    orientation: "horizontal",
    range: "min",
    animate: true
    });
    $('.carousel').carousel({
    interval: 4000
    });
