ozyshtml(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='img/apple-icon.png')
    link(rel='icon', type='image/png', href='img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Dreamcozy
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='viewport', content='width=device-width')
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/bootstrap-social.css', rel='stylesheet')
    link(href='css/gsdk.css', rel='stylesheet')
    link(href='css/demo.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    // Font Awesome
    link(href='css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Grand+Hotel', rel='stylesheet', type='text/css')
  body
    header.site-header(role='banner',itemscope='itemscope',itemtype='http://schema.org/WPHeader')
      .row.header-logo#logodiv
        a(href="/")
          img(src="img/dream.png")
      .container
        .row
          .col-xs-1
          .col-xs-10
            .mdl-grid#TopPad
              .mdl-grid
                .col-xs-2
                .col-xs-8
                  ul.nav.nav-pills
                    li
                      a(href="/home") Home
                    li
                      div.dropdown
                        a(href="http://www.dreamcozy.com/books/",target="frame") Books
                        div.dropdown-content
                          a(href="http://www.dreamcozy.com/books-in-english/",target="frame") books in english
                          a(href="http://www.dreamcozy.com/books/food/",target="frame") food
                          a(href="http://www.dreamcozy.com/books/fashion/",target="frame") fashion & beauty
                          a(href="http://www.dreamcozy.com/books/self-help/",target="frame") self-help
                          a(href="http://www.dreamcozy.com/books/interior-garden/",target="frame") interior & garden
                          a(href="http://www.dreamcozy.com/books/other-lifestyle-books/",target="frame") other lifestyle books
                          a(href="http://www.dreamcozy.com/books/coloring/",target="frame") coloring
                          a(href="http://www.dreamcozy.com/books/travelling/",target="frame") travelling
                    li
                      a(href="#") Store
                    li
                      a(href="#") About Cozy
                    li
                      a(href="#") Cozy Team
                    li
                      a(href="#") Contac.
                    li
                      a(href="#") Media
                .col-xs-2
          .col-xs-1
      .container
        .row
            .mdl-grid#TopPad
              div#newsContainer
                ul#contentimg
                  li#left50
                    div.information
                      h4 product's name should be placed around here
                      p#tinytext tiny flavour text for the product's name
                      p many paragraphs of text is placed here. many paragraphs of text is placed here. many paragraphs of text is placed here. many paragraphs of text is placed here. many paragraphs of text is placed here.
                      p many paragraphs of text is placed here. many paragraphs of text is placed here. many paragraphs of text is placed here. many paragraphs of text is placed here. many paragraphs of text is placed here.
                      p information about the product
                      a add to cart

                  li#right50
                    div.image
                      form(action="/upload",method="post",enctype="multipart/form-data",id="uploadform")
                        input(type="file",name="oneimage")
                        input(type="submit",value="Upload Image",name="Submit")
        .row
            .mdl-grid#TopPad
              div#newsContainer
                ul#contentimg
                  li#center100
                    a This is seperate text
    .container
      .row
        .col-xs-1
        .col-xs-10
          ul.aligncenter.fix-margin
            li.social-facebook
              a.btn.btn-social-icon.btn-facebook(href='https://www.facebook.com/cozypubl/')
                span.fa.fa-facebook
            li.social-instagram
              a.btn.btn-social-icon.btn-instagram(href='https://www.instagram.com/dream.cozy/')
                span.fa.fa-instagram
      .col-xs-1
  .container#CustomFooter
      .row.aligncenter
        .mdl-grid#TopPad
          .col-xs-1
          .col-xs-10
            p Copyright 2017 Dreamcozy
          .col-xs-1


  script(src='js/jquery-1.10.2.js', type='text/javascript')
  script(src='js/jquery-ui-1.10.4.custom.min.js', type='text/javascript')
  script(src='js/bootstrap.js', type='text/javascript')
  script(src='js/gsdk-checkbox.js')
  script(src='js/gsdk-radio.js')
  script(src='js/gsdk-bootstrapswitch.js')
  script(src='js/get-shit-done.js')
  script(src='js/custom.js')
  script(type='text/javascript').
    $('.btn-tooltip').tooltip();
    $('.label-tooltip').tooltip();
    $('.pick-class-label').click(function(){
    var new_class = $(this).attr('new-class');
    var old_class = $('#display-buttons').attr('data-class');
    var display_div = $('#display-buttons');
    if(display_div.length) {
    var display_buttons = display_div.find('.btn');
    display_buttons.removeClass(old_class);
    display_buttons.addClass(new_class);
    display_div.attr('data-class', new_class);
    }
    });
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 75, 300 ],
    });
    $( "#slider-default" ).slider({
    value: 70,
    orientation: "horizontal",
    range: "min",
    animate: true
    });
    $('.carousel').carousel({
    interval: 4000
    });
