html(lang='en')
  head
    meta(charset='utf-8')
    title Dreamcozy Store
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/css/material.min.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en", rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel='stylesheet')
    link(href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css", rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/img/android-desktop.png')
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Grand+Hotel', rel='stylesheet', type='text/css')
    link(href='https://www.w3schools.com/w3css/4/w3.css',rel='stylesheet', type='text/css')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/slider.css', rel='stylesheet')
  script.
    function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    }
  body.w3-animate-opacity(onload="w3_close()")
    div#mySidebar.w3-sidebar.w3-animate-opacity.w3-bar-block.w3-black.w3-card-2
      btn.btn.btn-primary#HideBtn(onclick="w3_close()") Tools
      if loggedin
        div#UserPanelBackground
          div#logoutpanel
            .row
                h4#YesLogged Logged in
                form#logout(name="addproduct",method="post",action="/logout")
                  input#LogoutSubmitl.btn.btn-danger(type="submit",value="Logout")
          .row
            .mdl-grid
              h4 Developer Theme
              label.switch
                input(type="checkbox")
                span.slider.shadow
          #TopPad
            .row
                h2 Add Product
                form#formAddUser(name="addproduct",method="post",action="/addproduct")
                    .mdl-cell--12-col
                      input#inputProductName.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Name", name="productname")
                    .mdl-cell--12-col
                      input#inputProductDesc.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Description", name="description")
                    .mdl-cell--12-col
                      input#inputPrice.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Price", name="price")
                    .mdl-cell--12-col
                      input#inputAmount.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Amount", name="amount")
                    .mdl-cell--12-col
                      input#inputImage.btn-primary.inputfile(type="file",value="Image", name="oneimage")
                      label#inputImageLabel.mdl-button.w3-blue(for="inputImage").custom-file-upload Upload Image
                    .mdl-cell--12-col#TopPad
                      input#btnProduct.mdl-button.w3-indigo(type="submit",value="Submit")
      else
        div#UserPanelBackground
          div#signuppanel
            .mdl-grid
              .col-xs-1
              .col-xs-10
              h4#NotLogged Not Logged in
              h4 Sign up
              form#signup(name="signup",method="post",action="/adduser")
                .mdl-grid
                  .mdl-grid.mdl-cell--12-col
                    input#SignupEmail.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Email", name="signupEmail")
                  .mdl-grid.mdl-cell--12-col
                    input#SignupPasswdl.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Description", name="signupPasswd")
                  .mdl-grid.mdl-cell--12-col
                    input#SignupSubmitl.btn.btn-danger(type="submit",value="Signup")
              .col-xs-1
          div#loginpanel.container
            .mdl-grid
              .col-xs-1
              .col-xs-10
              h4 Login
              form#login(name="addproduct",method="post",action="/login")
                .mdl-grid
                  .mdl-grid.mdl-cell--12-col
                    input#LoginEmaill.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Name", name="loginEmail")
                  .mdl-grid.mdl-cell--12-col
                    input#LoginPasswdl.btn.btn-primary.mdl-color-text--white(type="text", placeholder="Description", name="loginPasswd")
                  .mdl-grid.mdl-cell--12-col
                    input#LoginSubmitl.btn.btn-danger(type="submit",value="Login")
              .col-xs-1
    block content
      .w3-main
        .w3-animate-opacity
              btn.btn.btn-primary#ExpandBtn(onclick="w3_open()") Tools
              .w3-container(style="width:100%")
                .container
                  .row.header-logo#logodiv
                      a(href="/")
                        img#LogoTop(src="img/dream.png")
                  .mdl-grid
                    .mdl-layout-spacer
                    .mdl-grid
                            ul.nav.nav-pills
                              li.active
                                a(href="/home") Home
                              li
                                div.dropdown
                                  a(href="http://www.dreamcozy.com/books/",target="frame") Books
                                  div.dropdown-content
                                    a(href="http://www.dreamcozy.com/books-in-english/",target="frame") books in english
                                    a(href="http://www.dreamcozy.com/books/food/",target="frame") food
                                    a(href="http://www.dreamcozy.com/books/fashion/",target="frame") fashion & beauty
                                    a(href="http://www.dreamcozy.com/books/self-help/",target="frame") self-help
                                    a(href="http://www.dreamcozy.com/books/interior-garden/",target="frame") interior & garden
                                    a(href="http://www.dreamcozy.com/books/other-lifestyle-books/",target="frame") other lifestyle books
                                    a(href="http://www.dreamcozy.com/books/coloring/",target="frame") coloring
                                    a(href="http://www.dreamcozy.com/books/travelling/",target="frame") travelling
                              li
                                a(href="#") Store
                              li
                                a(href="#") About Cozy
                              li
                                a(href="#") Cozy Team
                              li
                                a(href="#") Contact
                              li
                                a(href="#") Media
                    .mdl-layout-spacer
                br
                br
    .container#CustomFooter
      .row.aligncenter
        .mdl-grid#TopPad
          .col-xs-1
          .col-xs-10
            p Copyright 2017 Dreamcozy
          .col-xs-1
    script.
      function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      }
      function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      }

  script(src='js/jquery-1.10.2.js', type='text/javascript')
  script(src='js/jquery-ui-1.10.4.custom.min.js', type='text/javascript')
  script(src='js/bootstrap.js', type='text/javascript')
  script(src='js/gsdk-checkbox.js', type='text/javascript')
  script(src='js/gsdk-radio.js', type='text/javascript')
  script(src='js/gsdk-bootstrapswitch.js', type='text/javascript')
  script(src='js/get-shit-done.js', type='text/javascript')
  script(src='js/custom.js', type='text/javascript')
  script(src='js/bootstrap-slider.min.js', type='text/javascript')
  script(src='https://code.getmdl.io/1.3.0/material.min.js', type='text/javascript')
  script(type='text/javascript').
    $('.btn-tooltip').tooltip();
    $('.label-tooltip').tooltip();
    $('.pick-class-label').click(function(){
    var new_class = $(this).attr('new-class');
    var old_class = $('#display-buttons').attr('data-class');
    var display_div = $('#display-buttons');
    if(display_div.length) {
    var display_buttons = display_div.find('.btn');
    display_buttons.removeClass(old_class);
    display_buttons.addClass(new_class);
    display_div.attr('data-class', new_class);
    }
    });
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 75, 300 ],
    });
    $( "#slider-default" ).slider({
    value: 70,
    orientation: "horizontal",
    range: "min",
    animate: true
    });
    $('.carousel').carousel({
    interval: 4000
    });
