extends layout

block content
    .w3-main
        .w3-animate-opacity
              btn.btn.btn-primary#ExpandBtn(onclick="w3_open()") Login / Signup
              .w3-container(style="width:100%")
                .container
                  .row.header-logo#logodiv
                      a(href="/")
                        img#LogoTop(src="img/dream.png")
                  .row
                    .col-xs-1
                    .col-xs-10
                          .col-xs-2
                          .col-xs-8
                            ul.nav.nav-pills
                              li.active
                                a(href="/home") Home
                              li
                                div.dropdown
                                  a(href="http://www.dreamcozy.com/books/",target="frame") Books
                                  div.dropdown-content
                                    a(href="http://www.dreamcozy.com/books-in-english/",target="frame") books in english
                                    a(href="http://www.dreamcozy.com/books/food/",target="frame") food
                                    a(href="http://www.dreamcozy.com/books/fashion/",target="frame") fashion & beauty
                                    a(href="http://www.dreamcozy.com/books/self-help/",target="frame") self-help
                                    a(href="http://www.dreamcozy.com/books/interior-garden/",target="frame") interior & garden
                                    a(href="http://www.dreamcozy.com/books/other-lifestyle-books/",target="frame") other lifestyle books
                                    a(href="http://www.dreamcozy.com/books/coloring/",target="frame") coloring
                                    a(href="http://www.dreamcozy.com/books/travelling/",target="frame") travelling
                              li
                                a(href="#") Store
                              li
                                a(href="#") About Cozy
                              li
                                a(href="#") Cozy Team
                              li
                                a(href="#") Contact
                              li
                                a(href="#") Media
                          .col-xs-2
                    .col-xs-1
                .container#TopPad
                    .row
                        .mdl-grid
                            .mdl-layout-spacer
                            h1#TopPad User List
                            .mdl-layout-spacer
                    .row
                    ul
                        each user, i in userlist
                                .row
                                    .col-xs-1
                                    .col-xs-10
                                        .col-xs-2
                                        .col-xs-8
                                            li#TopPad
                                                a.col-xs-8(href="mailto:#{user.email}")= user._id
                                                form#formDelUser(name="deluser",method="post",action="/deluser")
                                                    input#DELid.pull-left(name="delthisuser",type="text",value="#{user._id}")
                                                    input.col-xs-2.mdl-button.mdl-button--accent-blue(type='submit',value="Delete")
                                        .col-xs-2
                                    .col-xs-1
                            .col-xs-2
                        .col-xs-1