@import url('https://fonts.googleapis.com/css?family=Cantarell|Open+Sans|Roboto|Ubuntu');
html {
  background: black;
  background-image: url("../img/loading.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
html * {
  font-family: Roboto, Helvetica, "Segoe UI", Cantarell, sans-serif !important;
  text-shadow: 0px 0px 1px #ACACAC;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -moz-osx-font-smoothing: grayscale;
  transition: .3s ease-in-out !important;
}
::-webkit-scrollbar {
    display: none;
  }
::-webkit-input-placeholder {
    color: white;
    font-weight: 400 !important;
    text-shadow: 0px 0px 1px #ACACAC !important;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-shadow: rgba(0,0,0,.1) 0 0 1px !important;
    -moz-osx-font-smoothing: grayscale !important;
}
:-moz-placeholder {
   color: white;
   opacity:  1;
   font-weight: 400 !important;
   text-shadow: 0px 0px 1px #ACACAC !important;
   -webkit-font-smoothing: antialiased !important;
   -webkit-text-shadow: rgba(0,0,0,.1) 0 0 1px !important;
   -moz-osx-font-smoothing: grayscale !important;
}
::-moz-placeholder {
   color: white;
   opacity:  1;
   font-weight: 400 !important;
   text-shadow: 0px 0px 1px #ACACAC !important;
   -webkit-font-smoothing: antialiased !important;
   -webkit-text-shadow: rgba(0,0,0,.1) 0 0 1px !important;
   -moz-osx-font-smoothing: grayscale !important;
}
:-ms-input-placeholder {
   color: white;
   font-weight: 400 !important;
   text-shadow: 0px 0px 1px #ACACAC !important;
   -webkit-font-smoothing: antialiased !important;
   -webkit-text-shadow: rgba(0,0,0,.1) 0 0 1px !important;
   -moz-osx-font-smoothing: grayscale !important;
}
::-ms-input-placeholder {
   color: white;
   font-weight: 400 !important;
   text-shadow: 0px 0px 1px #ACACAC !important;
   -webkit-font-smoothing: antialiased !important;
   -webkit-text-shadow: rgba(0,0,0,.1) 0 0 1px !important;
   -moz-osx-font-smoothing: grayscale !important;
}
.btn-primary, .mdl-button {
  border-radius: 3px;
  margin: 5px 0px 10px 0px;
}
.btn, .btn-primary {
  border: 0;
}
#topPad {
  margin-top: 10px;
}
#topPadBig {
  margin-top: 30px;
}
#UserPanelBackground {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  width: 180px;
  color: white !important;
}
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#signuppanel, #loginpanel, #logoutpanel, #cartpanel {
  max-width: 180px;
}
#LogoutSubmit, #SignupSubmit, #LoginSubmit {
  min-width: 50px;
}
#loginpanel {
  position: absolute;
  left: 15px;
}
#Gap {
  visibility: hidden;
}
.mdl-color-text--white {
  color: white !important;
}

#mySidebar {
  z-index: 9999;
  width: 300px;
  display:none;
  position: absolute;
  top: 100px;
  background-color: black;
  background: rgba(0,0,0,0.5) !important;
}
#mySidebarCart {
  z-index: 9999;
  width: 300px;
  display:none;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: black;
  background: rgba(0,0,0,0.5) !important;
}
#cartpanel {
  position: absolute;
  left: 15px;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}
.is-paused {
  animation-play-state: paused;
}
#ProductInfoGrid {
  background: black;
  background-color: rgba(0,0,0,0.4);
  color: white;
}
#LimitImageArea {
  max-height: 400px !important;
}
#LimitImageArea .col-xs-12 .mdl-grid .col-xs-12 img {
  max-height: 400px !important;
}
.inputfile + label {
    font-size: 1.75em;
    color: white;
    background-color: #428cc7;
    display: inline-block;
    border-radius: 5px;
    padding: 7px 7px 7px 7px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background: black;
}
#NotLogged {
  color: rgba(225,160,160,1);
  text-shadow: 0 !important;
}
#YesLogged {
  color: rgba(160,225,160,1);
  text-shadow: 0 !important;
  font-size: 18px;
}

#ExpandBtn {
  position: fixed;
  margin: 10px 0 0 15px;
  left: 15px;
  top: 18px;
  height: 50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
#ExpandBtn .ExpandLogo {
  margin-top: 10px;
}
#HideBtn .ExpandLogo {
  margin-top: 10px;
}
.ExpandLogo {
  width: 40px;
  height: auto;
}
#ExpandBtnCart {
  position: fixed;
  right: 15px;
  top: 20px;
  height: 50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.priority-nav {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
#ExpandBtnCartHide {
  position: fixed;
  right: 15px;
  top: 20px;
  height: 50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.shadow {
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  text-shadow: 4px 4px 5px rgba(0,0,0,0.4);
}
#HideBtn {
  position: fixed;
  margin: 10px 0 0 15px;
  left: 15px;
  top: 18px;
  height: 50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.white {
  color: white !important;
}
.w3-container {
  z-index: 15;
}
.w3-hide-large {
  z-index: 20;
}
ul {
  list-style-type: none;
}
.mdl-grid {
  margin: 0;
  padding: 0;
}
.mdl-badge--overlap {
  z-index: 1000;
}
#TopPad, .TopPad {
  margin-top: 20px;
}
.mdl-button--accent-blue {
  padding: 0 !important;
  margin: 0 !important;
}
#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  width: 100%;
}
#ImageGrid {
  width: 100%;
}
#formDelUser {
  height: 0;
  margin: 0;
  padding: 0;
}
#photos .gridimg {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
.small {
  vertical-align: middle;
  width: 10vh;
  height: auto;
}
.medium {
  vertical-align: middle;
  width: 20vh;
  height: auto;
}
.large {
  vertical-align: middle;
  width: 30vh;
  height: auto;
}
.header-logo img {
    max-height: 130px;
    margin: 15px auto 0;
    display: block;
}
body {
  width: 100vw;
  overflow-x: hidden;
  /* background: url("../img/Tile-light.png") fixed; */
  background-color: white;
}
.w3-animate-bottom{position:relative;animation:animatebottom 1.25s}
.w3-animate-bottom-fast{position:relative;animation:animatebottom 0.5s}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 1.25s}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 1.25s}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-left-fast{position:relative;animation:animateleft 0.75s}
.w3-animate-right{position:relative;animation:animateright 1.25s}
.w3-animate-right-fast{position:relative;animation:animateright 0.5s}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
#inputImage {
  display: none;
}
#inputImageLabel {
  text-align: center;
  font-size: 12px;
  width: 185px;
  height: 50px;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.4) !important;
}
#ImageLabelGeneric {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1px;
  height: 50px;
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.4) !important;
}
#bodyImage {
  width: 100% !important;
  background: url(http://www.dreamcozy.com/website-2015-01/wp-content/uploads/2016/04/cropped-CozyMarbleBanner_April16.jpg) no-repeat;
}
.site-header {
    background-position: center 101px;
    background-size: cover!important;
    height: 800px;
    height: 100vh;
    background-attachment: fixed;
}

.nav * {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7) !important;
  font-weight: 300;
}
.site-inner {
  background: black !important;
}
#photos {
  overflow: hidden;
}
.gridimg {
  max-height: 1000px;
  object-fit: cover;
}
#newsFrame {
  border-radius: 5px;
}
ul#grid li {
  list-style: none outside;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height:  5vh;
  text-align: center;
}
.nav-pills {
  background: rgba(0,0,0,0.4) !important;
  border-radius: 5px;
}
.nav-pills li * {
  color: white !important;
}
#newsFrame #document html body {
  background-color: black !important;
}
.active a {
  background-color: #424242 !important;
}
.mdl-button--accent {
  margin-left: 20px !important;
  margin-right: 20px !important;
  background-color: #F50057 !important;
  border-color: #F50057 !important;
  color: white !important;
}
.aligncenter {
	text-align: center;
}
.aligncenter li {
	display: inline-block;
	float: none;
}
.mdl-button--accent-blue {
  margin-left: 20px !important;
  margin-right: 20px !important;
  background-color: #0D47A1 !important;
  border-color: #0D47A1 !important;
  color: white !important;
}
.fix-margin {
  margin-right:  5%;
}
.pink{
  color: #F50057 !important;
}
.blue {
  color: #0D47A1 !important;
}
.icon-bar {
  background: #2d2d2d !important;
}
#DELid {
  display: none;
}

.simple-social-icons ul.aligncenter {
    text-align: center;
}
.btn-social-icon {
  margin: 20px 20px 20px 20px;
}
.center {
  text-align: center !important;
}
.left {
  text-align: left !important;
}
#DeleteImage {
  bottom: 60px;
  right: 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
#EditImage {
  bottom: 125px;
  right: -20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
#DeleteImageSmall {
  bottom: 60px;
  right: 0;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
#EditImageSmall {
  bottom: 125px;
  right: -20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

#TopLeftName {
  color: #2d2d2d !important;
}
#CustomFooter{
  position: relative;
  bottom: -260px;
  width: 100vw;
  height: 100px;
  background: black;
  color: white;
}
#CustomSocial {
  position: absolute;
  bottom: -180px;
  width: 100%;
  left: 0;
  padding-left: 23px;
  height: 100px;
  background: black;
  color: white;
}
#VertCenter {
  height: 40px;
  line-height: 35px;
  text-align: center;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #212121;
    color: white;
}
input
{
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.4) !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 999;
}
.dropdown:hover .dropdown-content {
    display: block;
}
div.dropdown a{
  border-radius: 4px;
  position: relative;
  display: block;
  padding: 10px 15px;
}
div.dropdown-content a{
  background-color: white !important;
  color: black !important;
  border-radius: 4px;
  position: relative;
  display: block;
  border: 2px solid;
  border-top: none;
  padding: 20px;
  width: 200px;
  box-sizing: border-box;
}
div.dropdown-content a:hover{
  background-color: #424242 !important;
}
#contentimg {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
#contentimg li {
    float: left;
}
#contentimg li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#contentimg li p {
    display: block;
    color: white;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
}
#contentimg li h4 {
    display: block;
    color: white;
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;
    text-decoration: none;
    font-size: 20px
}
#contentimg li a:hover {
    background-color: #111111;
}
#left50 {
  float: left;
  width: 50%;
}
#right50 {
  float: right;
  width: 50%;
}
#center100 {
  margin: auto;
  width: 100%;
}
